<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/2.3.1/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/2.3.1/bootstrap-responsive.css" type="text/css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">bosscheng's blog</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">博客</a></li>
                    <li><a href="/archive">目录</a></li>
                    <li><a href="/tags">标签</a></li>
                    <li><a href="/about">关于作者</a></li>
                    <!--<li><a href="">关于作者</a></li>-->
                    <% if(locals.user){ %>
                    <li><a href="/post">发表</a></li>
                    <li><a href="/logout">注销</a></li>
                    <% } else { %>
                    <li><a href="/login">登录</a></li>
                    <li><a href="/reg">注册</a></li>
                    <% } %>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
                <form class="navbar-form pull-right" action="/search" method="get">
                    <input class="span2" type="text" name="keyword" placeholder="Search">
                    <button type="submit" class="btn">search</button>
                </form>
                <p class="navbar-text pull-right">
                    <% if(locals.user){ %>
                    登录人：
                    <span><%= locals.user.name %> | </span>
                    <% } %>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <%if(locals.success){%>
    <div class="alert alert-success"><%= locals.success %></div>
    <%}%>


    <%if(locals.error){%>
    <div class="alert alert-error"><%= locals.error %></div>
    <%}%>
    <div class="container-body">
