<%- include header %>
<form method="post" class="form-horizontal ">
    <fieldset>
        <legend>用户登录</legend>
        <div class="control-group">
            <label class="control-label">博主:</label>

            <div class="controls">
                <input class="input-xlarge" type="text" name="name">

                <p class="help-block" style="display: none">xxxxx</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">密码:</label>

            <div class="controls">
                <input type="password" name="password" class="input-xlarge"/>

                <p class="help-block" style="display: none">xxxxx</p>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="登录" class="btn btn-primary"/>
        </div>
    </fieldset>

</form>
<%- include footer %>